.admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .text {
    background-color: white;
    padding: 20px;
  }
  
  .pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pic img {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff69b4;
  }
  
  h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #161085;
  }
  
  label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  input[type="submit"] {
    background-color: #f7aeba;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #f36ca2;
  }
  