/* Style the product cards */
.product-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  /* Style the product images */
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  /* Style the buy button */
  .buy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #eeb4f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  /* Style the buy button on hover */
  .buy-button:hover {
    background-color: #005F6B;
  }
  